/*@font-face {
    font-family: Gotham-light; /*a name to be used later
    src: url('../fonts/Gotham-Light.otf');
    src: url('../fonts/Gotham-Light.ttf'); 
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.svg');
    src: url('../fonts/Gotham-Light.woff');
}*/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

body {
  margin: 0;
  background: #000;
  /*background: #000 url('../Media/ElevatorPics/otr_hiss.gif') no-repeat center top 50px;
  background-size: cover;*/
}

@media only screen and (min-width : 320px) and (max-width : 770px) {
  
  body {
    background: #020202 url('../Media/ElevatorPics/otr_hiss.gif') no-repeat;
    background-position: center bottom;
    /*background-size: 120% 120%;*/
    background-size: cover;
    background-position-y: 100px;
  }
  /*html > body body {
    background: blue url('../Media/ElevatorPics/otr_hiss.jpg') no-repeat;
    /*background-size: cover;
	}*/

  #submit-group {
    margin-top: 50px;
  }

  #newUserForm {
    margin-top: 50px;
  }
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  -webkit-transition: .6s background;
  transition: .6s background;
}

a:hover, a:active, a:focus {
  background:rgba(0,0,0,0.9);
}

.btn,
.button {
  display: inline-block;
  background-color: transparent;
  font-size: 1.3em;
  /*font-family: Lato, Gotham-light;*/
  font-family: Lato;
   width: 200px;
   padding: 8px;
   color: #ddd;
   border: 1px solid rgba(255, 255, 255, .5);
   text-align: center;
   outline: none;
   text-decoration: none;
   border-radius: 3px;
   transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.button:hover,
.button:active,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #000;
  color: #FFF;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

/* Media Query */
/*@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/pause.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}*/


/* Video */
video {
    position: fixed;
    /*position:absolute;*/
    /*top: 50%;*/
    top: 500px;
    left: 50%;
    min-width: 400px;
    min-height: 1000px;
    /*max-width: 1700px;*/
    width: auto;
    /*height: auto;*/
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: black;
    background-size: cover;
    -webkit-transition: 1s opacity;
            transition: 1s opacity;
}
.stopfade {
   opacity: .8;
}

/* Form */
/*.form-container,*/
#newUserForm {
  display:none;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  margin-top: 100px;
  /*width:24em;*/
  /*height:18em;*/
  /*padding-left: 30px;*/
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-lg-3 {
  width: 265px;
  /*margin-left: 5px;*/
}

@media (max-width: 415px) {
  /*.form-control {

  }*/
  .col-lg-3 {
    width: 70%;
  }
}

/*.form-group*/
.form-control {
  text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  text-align:center;
  color: #FFF;
  background: transparent;
  border:none;
  /*border-bottom: solid #000;*/
  border-bottom: solid 2pt #fff;
  border-radius: 1px;
  margin: 0 auto;
  /*margin-bottom: 1em;*/
  margin-bottom: 20pt;
  padding-bottom: 0em;
  outline: none;
  /*font-size: 1.5em;*/
  font-size: 1.5em;
  /*font-family: Lato, Gotham-light;*/
  font-family: Lato;
  font-weight: 300;
}

.form-control:active,
.form-control:focus {
  box-shadow: none !important;
}

.alert-success {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: Lato;
  font-weight: 300 !important;
  background: none;
  border: none;
  margin-top: 100px;
  /*border-radius: 2px;*/
}
.alert-success span {
  font-size: 0.7em;
}


input[placeholder]{
    text-align:center;
    color: #FFF;
}

::-webkit-input-placeholder {
   color: #FFF;
   opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
   opacity: 0.8;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
   opacity: 0.8;
}

:-ms-input-placeholder {
   color: #FFF;
   opacity: 0.8;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
