@{
  ViewBag.Title = "Off The Record";
  ViewBag.InitModule = "homeModule";
  ViewBag.InitController = "guestFormController";
}

@section Scripts {
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/angular-animate.js"></script>
  <script src="~/Scripts/angular-busy.js"></script>
  <script src="~/js/index.js"></script>

  <style>
    /*.form-show {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }
    .form-show.ng-hide {
      opacity:0;
    }

    .msg-show {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }
    .msg-show.ng-hide {
      opacity:0;
    }*/
  </style>
}

<div data-ng-view class="ng-scope" data-ng-app="ngAnimate">
  <div class="row">
    <div class="col-lg-3 col-centered">
      <div class="form-show">
        <form class="form-horizontal" id="newUserForm" name="newUserForm"
              novalidate data-ng-submit="addGuest()" autocomplete="off">
          <fieldset>
            <!-- guest.name -->
            <div class="form-group"
                 data-ng-class="{
                'has-error': newUserForm.name.$invalid && newUserForm.name.$touched,
                'has-success': !newUserForm.name.$invalid
               }">
              @*<label for="zip" class="col-lg-5 control-label">Vad heter du?</label>*@
              <div class="col-xs-12">
                <input class="form-control" id="name" name="name" type="text" required=""
                       data-ng-model="newGuest.name" placeholder="name"
                       data-ng-minlength="2" />
                @*<span class="help-block error"
                        data-ng-show="newUserForm.name.$error.required && newUserForm.name.$touched">
                    * Fyll i ditt namn tack.
                  </span>*@
              </div>
            </div>

            <!-- guest.email -->
            <div class="form-group"
                 data-ng-class="{
                'has-error': newUserForm.email.$invalid && newUserForm.email.$touched,
                'has-success': !newUserForm.email.$invalid
               }">
              @*<label for="zip" class="col-lg-5 control-label">Din email?</label>*@
              <div class="col-xs-12">
                <input class="form-control" id="email" name="email" type="email" required=""
                       data-ng-model="newGuest.email" placeholder="email" />
                @*<span class="help-block error"
                        data-ng-show="newUserForm.email.$error.required && newUserForm.email.$touched">
                    * Fyll i din email.
                  </span>
                  <span class="help-block error"
                        data-ng-show="newUserForm.email.$error.email">
                    * Det är inte en giltig email.
                  </span>*@
              </div>
            </div>

            <!-- guest.dateOfBirth -->
            <div class="form-group"
                 data-ng-class="{
                'has-error': newUserForm.dateOfBirth.$invalid && newUserForm.dateOfBirth.$touched,
                'has-success': !newUserForm.dateOfBirth.$invalid
               }">
              @*<label for="zip" class="col-lg-5 control-label">När är du född?</label>*@
              <div class="col-xs-12">
                <input class="form-control" id="dateOfBirth" name="dateOfBirth" type="text" required=""
                       data-ng-model="newGuest.dateOfBirth" placeholder="yymmdd"
                       data-ng-pattern="/^([0-9]{6}|[0-9]{8})$/" />
                <!-- data-ng-minlength="5" data-ng-maxlength="5" -->
                @*<span class="help-block error"
                        data-ng-show="newUserForm.dateOfBirth.$error.required && newUserForm.dateOfBirth.$touched">
                    * Ett åttasiffrigt personnummer krävs.
                  </span>
                  <span class="help-block error" data-ng-show="newUserForm.dateOfBirth.$error.pattern">
                    * Ej giltigt personnummer. Obs! De fyra sista är inte nödvändiga.
                  </span>*@
              </div>
            </div>

            <!-- Menu buttons -->
            <div class="form-group" id="submit-group">
              <div class="">
                <input type="submit" id="submit" class="btn" value="Register" @*onclick="runEnd()"*@
                       data-ng-disabled="newUserForm.$invalid" disabled="disabled">
                @*<a href="#/" class="btn">Avbryt</a>*@
                <span us-spinner spinner-key="spinner-1" spinner-start-active="1"></span>
                <div cg-busy="{promise:myPromise,message:'Saving...'}"></div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      @*<div ng-show="showMessage" class="msg-show">*@
      <div class="msg-show">
        <div class="alert alert-success">
          @*<button type="button" class="close" data-dismiss="alert">×</button>*@
          Thank you! <br /> <span style="font-weight: 100;">You will receive an email on the day of the event.</span>
        </div>
      </div>
  </div>
</div>
</div>




<!-- guest.relation -->
@*<div class="form-group"
       data-ng-class="{
      'has-error': newUserForm.relation.$invalid && newUserForm.relation.$touched,
      'has-success': !newUserForm.relation.$invalid
     }">
    @*<label for="zip" class="col-lg-5 control-label">Vem är din referens?</label>
    <div class="col-xs-12">
      <input class="form-control" id="relation" name="relation" type="text" required=""
             data-ng-model="newGuest.relation" placeholder="Referral's name..."
             data-ng-minlength="2" />
      @*<span class="help-block error"
          data-ng-show="newUserForm.relation.$error.required && newUserForm.relation.$touched">
      * Fyll i namnet på den person som bjudit in dig.
    </span>
    </div>
  </div>*@

<!-- user.age -->
@*<div class="form-group"
       data-ng-class="{
                  'has-error': newUserForm.age.$invalid && newUserForm.age.$touched,
                  'has-success': !newUserForm.age.$invalid
                 }">
    <label class="col-lg-5 control-label" for="age">Ålder</label>
    <div class="col-lg-7">
      <input type="number" class="form-control" id="age" name="age" required=""
             data-ng-model="newGuest.age" placeholder="Din ålder..."
             min="0" max="110" />
      <span class="help-block error"
            data-ng-show="newUserForm.age.$error.required && newUserForm.age.$touched">
        * Var god ange din ålder
      </span>
    </div>
  </div>*@


@*<div data-ng-view=""></div>*@


@*<div class="jumbotron">
      <h1>ASP.NET</h1>
      <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
      <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="row">
      <div class="col-md-4">
          <h2>Getting started</h2>
          <p>
              ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
              enables a clean separation of concerns and gives you full control over markup
              for enjoyable, agile development.
          </p>
          <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Get more libraries</h2>
          <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
          <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Web Hosting</h2>
          <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
          <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
      </div>
  </div>*@